* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, #E0FFDA, #A0E6B4, #50B882);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 380px;
    border: 5px solid #6dc994;
    background: transparent;
    border-radius: 40px;
    color: #37694d;
    position: relative;
}

.container .reset{
    position: absolute;
    width: 40px;
    right: 25px;
    top: 25px;
    cursor: pointer;
    
}

.reset {
    transition: transform 0.5s ease-out;
}

.girar {
    transform: rotate(360deg);
}
 
.button button {
    width: 80px;
    height: 80px;
    border: none;
    border-radius: 50%;
    margin: 10px;
    cursor: pointer;
    font-size: 50px;
    transition: background-color 0.5s ease-in-out;
}

.button {
    margin-top: 30px;
    display: flex;
    gap: 40px;
}

button:hover {
    transform: scale(1.5);
    background-color: transparent;
}

button:active {
    transform: scale(1.2);
}

h1 {
    margin-top: 25px;
    font-size: 2em;
    letter-spacing: 2px;
}

p {
    font-size: 1.5em;
    margin-top: 20px;
    line-height: 2rem;
}

.your-score span {
    color: #4a9ef7;
}

.machine-score span {
    color: #bb5656;
}


@media screen and (max-width: 500px) {
    .container {
        width: 90%;
        height: 65%;
    }

    p {
        line-height: 1.5rem;
    }
    
    .button {
        gap: 5px;
    }
}

